body{
     background-color: #ff9933
;

}

/* This is the animation code. */
@-webkit-keyframes example {
   from { transform: scale(2.0); }
   to   { transform: scale(1.0); }
}


/* This is the element that we apply the animation to. */
.colorbox {
   -webkit-animation-name: example;
   -webkit-animation-duration: 1s;
   -webkit-animation-timing-function: ease; /* ease is the default */
   -webkit-animation-delay: 1s;             /* 0 is the default */
   -webkit-animation-iteration-count:infinite;    /* 1 is the default */
   -webkit-animation-direction: alternate;  /* normal is the default */
   margin-left: 200px;
   margin-top: 200px;
   height: 300px;
   width: 300px;
   
   font-family: 'Montserrat', sans-serif;   
   font-size: 100px;
   color: #ff6633;
   } 

 @keyframes slide {
  0% {
    left: 0;
    top: 0;
  }
  50% {
    left: 244px;
    top: 100px;
  }
  100% {
    left: 488px;
    top: 0;
  }
}  
.background2:hover.colorbox2
{
  animation-name: slide;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-delay: .5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}






