#container1{

        width: 315px;
	    height: 155px;


	 

}

	    

#rectangle{
	        
	        width: 50px;
	        height: 155px;
	        background-color:orange;
	        float: left;

}




#box1{
	  width: 205px;
	  height: 155px;
	  background-color: white;
	  float: left;
	  margin-left: 5px;
	  margin-right: 5px;
	  


}
#square{ 
	     width:100px;
	     height: 100px;
	     background-color: blue;
	     z-index: 1;
	     float: left;
	     margin-right: 5px;


	 }

#square2{
	     width:100px;
	     height: 100px;
	     background-color: blue;
	     z-index: 1;
	     float: left;

}	 



	     
	    




#red{
	             width: 205px;
	             height: 50px;
	             background-color: red;
	             
	             float: left;
	             margin-bottom: 5px;
}

#container2{
	        width: 315px;
	        height: 155px;
	        margin-top: 5px;


}

#red2{
	     width: 205px;
	     height: 50px;
	     background-color: red;
	     float: left;
	     margin-top: 5px;
}





